#Python
__pycache__/

#PyInstaller
*.spec
/func/build
/func/dist

#Binaries
/binaries

#Launch Files
/GameFiles/*.sh

#Steam Bash script
AddToSteam.sh

#Logs
/GameFiles/logs
*.log

#Executable
HeroicBashLauncher